
.preloader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #1C1D20;
      overflow: hidden;
      z-index: 100;
    }
    
    .preloader .text-container {
      display: flex;
      flex-direction: row;
      gap: 1em;
      overflow: hidden;
      color: white;
      opacity: 0;
    }

    .text-container h1{
      font-size: 3rem;
    }
    
    @media (max-width:576px) {
      .text-container h1{
        font-size: 1.5rem;
      }
  
  }